{% extends "navbar.html" %}

{% block content %}
<div style="position: absolute; top: 10%; left: 5%; color: white;">
    <h2>Watch History</h2>
    <br>
    <div class="d-flex flex-row flex-nowrap overflow-x-auto">
        {% for item in watch_history %}
            <div class="mr-4">
                <a href="{% url 'mdet' item.movie.id %}">
                    <img width="285.33px" height="165.16px" src="{{ item.movie.image.url }}" alt="{{ item.movie.name }}" class="img-fluid" >
                </a>
            </div>
        {% empty %}
            <p>No watch history available.</p>
        {% endfor %}
    </div>
</div>
{% endblock %}
